# Fichiers système macOS
.DS_Store

# Caches Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
ENV/
env/
*.env

# Instance Flask et base de données
instance/
*.db

# Fichiers modèles (non destinés à la prod V1)
app/templates/cgv-complete.html
app/templates/politique_confidentialite.html


# Fichiers de travail perso (non versionnés)
app/new_initdb.py
app/old__init__.py
app/old_routes.py
app/templates/old.shoppingbasket.html
old-initdb.py
