{% extends "base.html" %}
{% block content %}

   <head>
      <meta charset="UTF-8">
      <title>Mentions légales</title>
   </head>

   <body>
      <h1>Mentions légales - Les silences du vin</h1>
      <p>  Mise à jour du 25 aout 2025</p>

      <h2>Éditeur du site</h2>
         <p>
            Nom : Isalys Creuzeau-Gulinck – Inspire Code (micro-entreprise)<br>
            Adresse : 6 rue Jean Piccandet - 69290 Saint-Genis-les-Ollières<br>
            Courriel : contact@lessilencesduvin.fr<br>
            SIRET : 938 936 028 00019</p>

      <h2>Rédaction du site internet</h2>
         <p>
            Directrice de la publication : Isalys Creuzeau-Gulinck<br>
            Contact : contact@inspirecode.fr</p>

      <h2>Hébergeur du site internet</h2>
      <p>PythonAnywhere LLP – 17 Station Road, Cambridge, CB1 2JB, Royaume-Uni<br>
         Site web : <a href="https://www.pythonanywhere.com">www.pythonanywhere.com</a></p>

      <h2>Avertissement</h2>
      <p>L’abus d’alcool est dangereux pour la santé. À consommer avec modération.<br>
         La vente d’alcool est interdite aux mineurs de moins de 18 ans.</p>
   </body>
{% endblock %}
