<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
</head>

<body>
    <h1>Catalogue des vins</h1>
    <ul>
        {% for vin in vins %}
            <li>
                {{ vin['nom'] }} ({{ vin['millesime'] }}) – 
                {{ "%.2f"|format(vin['prix']) }} € – 
                Accord : {{ vin['accord'] }}
            </li>
        {% endfor %}
    </ul>
    <p>
        <h2>Noms des vins</h2>
        <ul>
            {% for vin in vins %}
                <h3>{{ vin.nom }}</h3>
            {% endfor %}
        </ul>
    </p>
</body>
</html>
