<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Les Silences du Vin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    </head>
    <body>
        <header class="top-header">
            <a href="{{ url_for('authentication') }}" class="btn-auth">Connexion / Créer un compte</a>
        </header>

        <div class="content">
            <section class="hero">
                <h1><span class="nowrap">Les Silences du Vin</span></h1>
                <p>Un lieu où chaque bouteille attend d’être écoutée.</p>
                <!-- Bandeau Cookies RGPD placé sous le titre -->
                <div id="cookie-banner" style="display: none;">
                    Ce site utilise des cookies techniques essentiels à son fonctionnement. Ils permettent notamment de mémoriser votre confirmation d’âge.*
                    <button onclick="acceptCookies()">Accepter</button>
                </div>
                <a href="{{ url_for('shopenter') }}">
                <img src="{{ url_for('static', filename='images/logo-les-silences-du-vin.png') }}" alt="Logo Les Silences du Vin" class="logo-site"></a>

            </section>


            <footer>
                <p>L’abus d’alcool est dangereux pour la santé. À consommer avec modération.</p>
                <p>
                    <a href="{{ url_for('mentions_legales') }}">Mentions légales</a> |
                    <a href="{{ url_for('cgv') }}">CGV</a> |
                    <a href="{{ url_for('confidentialite') }}">Politique de confidentialité</a>
                </p>
            </footer>
        </div>
        <script src="{{ url_for('static', filename='js/cookie-banner.js') }}"></script>

    </body>
</html>

