{% extends "base.html" %}

{% block content %}
<section class="container mt-4">
  <h2>Mon panier</h2>

<!--   {% if panier %}
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix (€)</th>
      </tr>
    </thead>
    <tbody>
      {% for item in panier %}
      <tr>
        <td>{{ item.nom }}</td>
        <td>{{ item.prix }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h5 class="text-end">Total : {{ total }} €</h5>

  {% else %}
  <p class="mt-3 text-muted">Votre panier est vide.</p>
  {% endif %}
</section>
 -->{% endblock %}
